:root {
	--clr--primary: #eeeeee;
	--clr--secondary: #1e1e1e;
	--clr--accent: #3d84a4;
	--clr--blue: #3d84a4;
	--clr--green: #38b000;
	--clr--yellow: #f5f749;
	--clr--red: #f24236;

	--clr--lift-doors: #dcdcdc;

	--ff-primary: Verdana, sans-serif;
	--b-rad: 6px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--clr--primary);
	font-family: var(--ff-primary);
	color: var(--clr--primary);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

main {
	width: 90%;
	margin: 2em auto;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

header,
footer {
	background-color: var(--clr--secondary);
	text-align: center;
	padding: 1em;
}
footer a {
	text-decoration: none;
	color: var(--clr--accent);
}

.hide {
	display: none;
}

#action_panel {
	background-color: var(--clr--secondary);
	border-radius: var(--b-rad);
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	padding: 1em;
}

.input-group {
	/* border: 1px solid blue; */
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#action_panel input {
	width: 30%;
	height: 2em;
	padding: 0 0.5em;
	border: none;
	border-radius: var(--b-rad);
}
#action_panel input:focus {
	outline: 1px solid black;
}
/* Chrome, Safari, Edge, Opera */
#action_panel input::-webkit-outer-spin-button,
#action_panel input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
#action_panel input[type='number'] {
	-moz-appearance: textfield;
}
#building {
	min-height: 500px;
	/* overflow: auto; */
	background-color: var(--clr--secondary);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em;
	counter-reset: floor;
}
#btn_reset,
#btn_make_building {
	width: 100%;
	height: 100%;
	font-size: 4rem;
	border: none;
	border-radius: var(--b-rad);
	cursor: pointer;
	transition: all 0.2s ease-in;
}
#btn_make_building {
	background-color: var(--clr--green);
}
#btn_make_building:hover {
	background-color: #3fc501;
}
#btn_reset {
	background-color: var(--clr--red);
}
#btn_reset:hover {
	background-color: #f74d40;
}
#default_msg {
	font-size: 2rem;
	text-align: center;
}

#building {
	width: 100%;
	border-radius: var(--b-rad);
}

.floor_container {
	height: 200px;
	min-width: 70%;
	margin: 0 auto;
	border-bottom: 2px solid var(--clr--primary);
	position: relative;
	display: flex;
	align-items: end;
	gap: 2em;
}

.lift {
	width: 80px;
	height: 150px;
	background-color: var(--clr--primary);
	position: relative;

	--left-door-anim-name: '';
	--right-door-anim-name: '';
	--door-anim-duration: 0;

	overflow: hidden;
}

.lift::before,
.lift::after {
	content: '';
	display: block;
	height: 150px;
	width: 40px;
	background-color: var(--clr--lift-doors);
	position: absolute;
	animation-duration: var(--door-anim-duration);
	animation-iteration-count: 1;
	animation-delay: 0.5s;
}
.lift::before {
	border-right: 1px solid var(--clr--secondary);
	animation-name: var(--left-door-anim-name);
}
.lift::after {
	right: 0;
	animation-name: var(--right-door-anim-name);
}
@keyframes left-door-open {
	0% {
		border: none;
		left: 0;
	}
	50% {
		border: none;
		left: -40px;
	}

	100% {
		border: none;
		left: 0;
	}
}
@keyframes right-door-open {
	0% {
		right: 0;
	}
	50% {
		right: -40px;
	}
	100% {
		right: 0;
	}
}
.lift.first {
	margin-left: 7em;
}
.lift_btn_container {
	position: absolute;
	top: 40%;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}
.btn_lift {
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
	border: none;
	padding: 0.5em 1.5em;
	border-radius: var(--b-rad);
}

.btn_lift--up {
	background-color: var(--clr--green);
}
.btn_lift--down {
	background-color: var(--clr--yellow);
}

.floor_name {
	font-weight: bold;
	position: absolute;
	bottom: -0.35em;
	right: -4.5em;
}

@media only screen and (min-width: 800px) {
	main {
		flex-direction: row;
	}
	#action_panel {
		flex-basis: 30%;
		max-height: 30em;
		position: sticky;
		top: 1em;
	}
	#content {
		flex-basis: 70%;
	}
}
